<div class="px-4 py-5 mt-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Student Finder</h1>
    <div class="col-lg-4 mx-auto">
      <p class="lead mb-4">Cari informasi mahasiswa dengan detail.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <form action="" method="get" class="w-100" >
            <div class="form-floating mb-3 ">
                <input type="text" name="query" required class="form-control " id="floatingInput" placeholder="Nonomi" value="{{query}}">
                <label for="floatingInput">Nama atau NIM</label>
            </div>
            <button type="submit" class="btn btn-primary btn-lg"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
          </svg> Search</button>
            </form>
      </div>
    </div>
  </div>